html, body {
    height: 100%;
    font-family: sans-serif;
    text-align: left;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.logoTitle {
	font-size: 6.5vw;
	font-weight: bold;
}
.logoSubtitle{
	font-size: 4.65vw;
}
.logoBox{
	margin: 5%;
	padding-left: 5%;
	width: 40%;
	border-left: 2px solid black;
}
.punchline{
	font-style: italic;
	margin-top: 3vw;
	font-size: 2.3vw;
}
.bottomline{
	margin-top: 7%;
	font-size:  2vw;
}